{% extends "base.html" %}
{% block title %}
Создание автомобиля
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<li>
			<a href="/client-list/">Список клиентов</a>
		</li>
		<li>
			<a href="/create-client/">Создать клиента</a>
		</li>
	</div>
    <h1>Привязка клиента к автомобилю</h1>
    <form method="post">
        <select size="3" name="car_name">
            {% for item in cars %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <select size="3" name="client_name">
            {% for item in clients %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Привязять</button>
    </form>
{% endblock %}
