<!DOCTYPE html>
<html lang="en">
<head>
    <title>Автосалон автомобилей FORD</title>
    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="style/style.css" title="style"/>
    {% block style %}{% endblock %}
</head>
<body>
{% block menu %} {% endblock %}
{% block body %} {% endblock %}
</body>
</html>