<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="index.html">Автосалон автомобилей<span class="logo_colour"> FORD</span></a></h1>
            </div>
        </div>
    </div>
    <div id="site_content">
        <div class="sidebar">
            <div id="content">
                <!-- insert the page content here -->
                <h1>Связаться с нами</h1>
                <p>Мы ответим вам самое ближайшее время:</p>
                <form action="#" method="post">
                    <div class="form_settings">
                        <p><span>Name</span><input class="contact" type="text" name="your_name" value=""/></p>
                        <p><span>Email Address</span><input class="contact" type="text" name="your_email" value=""/></p>
                        <p><span>Message</span><textarea class="contact textarea" rows="8" cols="50"
                                                         name="your_enquiry"></textarea></p>
                        <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit"
                                                                               name="contact_submitted" value="submit"/>
                        </p>
                    </div>
                </form>
                <p><br/><br/>{{address}}</p>
            </div>
        </div>
        <div id="footer">
            Copyright &copy; black_white | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a
                href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a
                href="http://www.html5webtemplates.co.uk">Free CSS Templates</a>
        </div>
    </div>
</div>